@font-face {
   font-family: 'icon';
   src: url('../fonts/icon/icon.eot');
   src: url('../fonts/icon/icon.eot#iefix') format('embedded-opentype'),
   url('../fonts/icon/icon.woff2') format('woff2'),
   url('../fonts/icon/icon.woff') format('woff'),
   url('../fonts/icon/icon.ttf') format('truetype'),
   url('../fonts/icon/icon.svg#icon') format('svg');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family:'Proxima';
   src: url('../fonts/Proxima Nova Thin.eot');
   src: url('../fonts/Proxima Nova Thin.eot?#iefix') format('embedded-opentype'),
   url('../fonts/Proxima Nova Thin.woff2') format('woff2'),
   url('../fonts/Proxima Nova Thin.woff') format('woff'),
   url('../fonts/Proxima Nova Thin.ttf') format('truetype'),
   url('../fonts/Proxima Nova Thin.svg#Proxima Nova Thin') format('svg');
   font-weight: 100;
   font-style: normal;
   font-stretch: normal;
}

@font-face {
   font-family:'Proxima';
   src: url('../fonts/Proxima Nova Light.eot');
   src: url('../fonts/Proxima Nova Light.eot?#iefix') format('embedded-opentype'),
   url('../fonts/Proxima Nova Light.woff2') format('woff2'),
   url('../fonts/Proxima Nova Light.woff') format('woff'),
   url('../fonts/Proxima Nova Light.ttf') format('truetype'),
   url('../fonts/Proxima Nova Light.svg#Proxima Nova Light') format('svg');
   font-weight: 300;
   font-style: normal;
   font-stretch: normal;
}

@font-face {
   font-family:'Proxima';
   src: url('../fonts/Proxima Nova Regular.eot');
   src: url('../fonts/Proxima Nova Regular.eot?#iefix') format('embedded-opentype'),
   url('../fonts/Proxima Nova Regular.woff2') format('woff2'),
   url('../fonts/Proxima Nova Regular.woff') format('woff'),
   url('../fonts/Proxima Nova Regular.ttf') format('truetype'),
   url('../fonts/Proxima Nova Regular.svg#Proxima Nova Regular') format('svg');
   font-weight: 400;
   font-style: normal;
   font-stretch: normal;
}

@font-face {
   font-family:'Proxima';
   src: url('../fonts/Proxima Nova Regular Italic.eot');
   src: url('../fonts/Proxima Nova Regular Italic.eot?#iefix') format('embedded-opentype'),
   url('../fonts/Proxima Nova Regular Italic.woff2') format('woff2'),
   url('../fonts/Proxima Nova Regular Italic.woff') format('woff'),
   url('../fonts/Proxima Nova Regular Italic.ttf') format('truetype'),
   url('../fonts/Proxima Nova Regular Italic.svg#Proxima Nova Regular Italic') format('svg');
   font-weight: 400;
   font-style: italic;
   font-stretch: normal;
}

@font-face {
   font-family:'Proxima';
   src: url('../fonts/Proxima Nova Semibold.eot');
   src: url('../fonts/Proxima Nova Semibold.eot?#iefix') format('embedded-opentype'),
   url('../fonts/Proxima Nova Semibold.woff2') format('woff2'),
   url('../fonts/Proxima Nova Semibold.woff') format('woff'),
   url('../fonts/Proxima Nova Semibold.ttf') format('truetype'),
   url('../fonts/Proxima Nova Semibold.svg#Proxima Nova Semibold') format('svg');
   font-weight: 600;
   font-style: normal;
   font-stretch: normal;
}

@font-face {
   font-family:'Proxima';
   src: url('../fonts/Proxima Nova Bold.eot');
   src: url('../fonts/Proxima Nova Bold.eot?#iefix') format('embedded-opentype'),
   url('../fonts/Proxima Nova Bold.woff2') format('woff2'),
   url('../fonts/Proxima Nova Bold.woff') format('woff'),
   url('../fonts/Proxima Nova Bold.ttf') format('truetype'),
   url('../fonts/Proxima Nova Bold.svg#Proxima Nova Bold') format('svg');
   font-weight: 700;
   font-style: normal;
   font-stretch: normal;
}

@font-face {
   font-family:'Proxima';
   src: url('../fonts/Proxima Nova Bold Italic.eot');
   src: url('../fonts/Proxima Nova Bold Italic.eot?#iefix') format('embedded-opentype'),
   url('../fonts/Proxima Nova Bold Italic.woff2') format('woff2'),
   url('../fonts/Proxima Nova Bold Italic.woff') format('woff'),
   url('../fonts/Proxima Nova Bold Italic.ttf') format('truetype'),
   url('../fonts/Proxima Nova Bold Italic.svg#Proxima Nova Bold Italic') format('svg');
   font-weight: bold;
   font-style: italic;
   font-stretch: normal;
}

@font-face {
   font-family:'Proxima';
   src: url('../fonts/Proxima Nova Extrabold.eot');
   src: url('../fonts/Proxima Nova Extrabold.eot?#iefix') format('embedded-opentype'),
   url('../fonts/Proxima Nova Extrabold.woff2') format('woff2'),
   url('../fonts/Proxima Nova Extrabold.woff') format('woff'),
   url('../fonts/Proxima Nova Extrabold.ttf') format('truetype'),
   url('../fonts/Proxima Nova Extrabold.svg#Proxima Nova Extrabold') format('svg');
   font-weight: 800;
   font-style: normal;
   font-stretch: normal;
}

@font-face {
   font-family:'Proxima';
   src: url('../fonts/Proxima Nova Black.eot');
   src: url('../fonts/Proxima Nova Black.eot?#iefix') format('embedded-opentype'),
   url('../fonts/Proxima Nova Black.woff2') format('woff2'),
   url('../fonts/Proxima Nova Black.woff') format('woff'),
   url('../fonts/Proxima Nova Black.ttf') format('truetype'),
   url('../fonts/Proxima Nova Black.svg#Proxima Nova Black') format('svg');
   font-weight: 900;
   font-style: normal;
   font-stretch: normal;
}