body {
    /*Фон*/
    background-image: url(../img/background.jpg);
}
/*Стильтекста*/
      h2 { text-transform: uppercase;
      color:#11edb6}
 .brown {
     color: blueviolet;
 }
 #heading {
     border-bottom: 1px solid #000;
 }
 div p {
     font-style: unset
     c;
 }
 /*Загрузка и применение шрифта*/
 @font-face {
 font-family: "Montserrat"; 
 src: url(/fonts/montserrat-regular-webfont.woff) format("woof"),
 url(/fonts/montserrat-regular-webfont.woff2) format("woof2"),
 url(/fonts/Montserrat-Regular.ttf) format("truetype");
 font-weight: normal;
 font-style: normal;
 }
 h2 {
     font-family: Montserrat;
 }
/*Блоки*/
.product-item {
    background-color: rgba(255, 55, 18, 0.5);
    background: url(../img/samlik.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 10px 15px;
    margin: 10 0 50px;
    /*высота во весь лист*/
    height: 100vh;
    /*радиус скругления*/
    border-radius: 20px 0;
   /*тень*/
    box-shadow: black 0 0 20px 10px;
}
/*Применение к первому объекту из блока, не работает почему-то*/
 .product-item:first-child{
     background: url(../img/samlik.jpg) no-repeat;
 }

 .product-item_title {
      /*высота блока*/ 
    height: auto;
     /*ширина блока*/ 
    width: 100%;
    /*размер блока*/ 
    box-sizing: border-box;
    /*отступ от верха*/ 
    margin: 5px;
    /*отступ внутри рамки до текста*/
     padding: 10px;
     /*Рамка*/
     border: 1px solid #000;
 }
 .product-item_description {
    margin: 0;
    border: 1px solid #11edb6;
}